/* Estilos Globais */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Cabeçalho e Navegação */
header {
  background-color: #000000;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #c23d3d;
}

/* Logo */
.logo {
  width: 150px;
  height: auto;
}

/* Introdução */
.intro {
  width: 370px;
  height: 200px;
  background-color: #c23d3d;
  color: white;
  border: 2px solid #c23d3d;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

/* Rodapé */
footer {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  text-align: center;
}

footer div {
  margin: 10px;
}

footer a {
  color: #ffffff;
  text-decoration: underline;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #c23d3d;
}

/* Responsividade */
@media (max-width: 768px) {
  nav ul {
      flex-direction: column;
      align-items: center;
  }

  .intro {
      width: 90%;
      margin: 10px auto;
  }

  .logo {
      width: 120px; /* Reduzir o tamanho da logo em telas menores */
  }

  footer {
      flex-direction: column;
  }
}
